#####################################################################
##   Purge filament
#####################################################################
[gcode_macro FILAMENT_PURGE]
gcode:
    G92
    FORCE_MOVE STEPPER=extruder DISTANCE=125 VELOCITY=8
    SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0