#####################################################################
##   Print Start
#####################################################################

[gcode_macro PRINT_START]
gcode:
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.EXTRUDER|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}
    # SKEW_PROFILE LOAD=my_skew_profile
    # SET_PIN PIN=caselight VALUE=1.0  ; turn on case light
    M221 S100                       # reset flow to 100%
    M220 S100                       # reset speed to 100%

    PREFLIGHT_CHECK       # check for HEF

    BED_MESH_CLEAR
    SET_GCODE_OFFSET Z=0

    ## ebay fans
    # SET_FAN_SPEED FAN=ebay2 SPEED=1.0       # turn on electronic bay fans

    # {% if chambertemp > 0 %}
    # SET_FAN_SPEED FAN=bed_fans SPEED=0.2
	# SET_FAN_SPEED FAN=nevermore SPEED=1.0
    # SET_FAN_SPEED FAN=toolhead_board_fan SPEED=0.7
    # {% endif %}

    ## heat up bed
    SET_LED LED="nozzle_led" RED=1.0 GREEN=0.5 BLUE=0   # LED: orange
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bedtemp}  ; set bed temp
    
    G28     # home axes
    G0 Z10   # position beacon at 2mm for heat soak

    ## wait for bed to heat up
    RESPOND TYPE=error MSG="Heating bed to {bedtemp}c"
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bedtemp-1} MAXIMUM={bedtemp+5}  # wait for bed to get to printing temp

    ## wait for chamber to reach temp if ABS
    {% if chambertemp > 0 %}
    SET_FAN_SPEED FAN=bed_fans SPEED=0.8
    RESPOND TYPE=error MSG="Waiting for chamber to reach {chambertemp}c"
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_temp" MINIMUM={chambertemp} MAXIMUM=100  # wait for chamber to reach temp

    # SET_FAN_SPEED FAN=bed_fans SPEED=0.6
    {% endif %}

    ## heat hotend to 180c
    RESPOND TYPE=error MSG="Heating hotend to 180c"
    SET_LED LED="nozzle_led" RED=1.0 GREEN=0 BLUE=0   # LED: red
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=175 MAXIMUM=185  # heat hotend to 180
        
    ## rehome Z/level bed/bed mesh
    RESPOND TYPE=error MSG="leveling bed"
    SET_LED LED="nozzle_led" RED=1 GREEN=1 BLUE=1   # LED: white
    
    G28 Z METHOD=PROXIMITY  # calibrate z offset and beacon model hot
    Z_TILT_ADJUST           # z tilt
    CLEAN_NOZZLE            # clean nozzle macro
    G28 Z METHOD=PROXIMITY  # calibrate z offset and beacon model hot
    BEACON_AUTO_CALIBRATE

    BED_MESH_CALIBRATE SPEED=250 RUNS=4    # bed mesh in scan mode

    NOZZLE_PARK

    ## heat hotend
    RESPOND TYPE=error MSG="Heating hotend to {hotendtemp}c"
    SET_LED LED="nozzle_led" RED=1 GREEN=0 BLUE=0   # LED: red
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={hotendtemp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotendtemp-1} MAXIMUM={hotendtemp+1} ; heat nozzle to slicer temp

    CLEAN_NOZZLE            # clean nozzle right before print in case there's ooz

    SET_GCODE_OFFSET Z=0.06  # add a little offset for hotend thermal expansion needs fine tuning, long meltzones require more
    
    RESPOND TYPE=error MSG="LET'S FUCKING GOOO !!"
    SET_LED LED=nozzle_led GREEN=1 RED=1 BLUE=1  # LED: white

    G90                     # absolute
    G1 Y240 F15000          # move up 5mm from nozzle park

    START_PURGE

    # LINE_PURGE