[gcode_macro START_PURGE]
variable_purge_height: 0.8
variable_purge_x_origin: 5
variable_purge_y_origin: 5
variable_tip_distance: 25
variable_flow_rate: 15
variable_purge_amount: 75
variable_travel_speed: 21000 # 350mm/s

gcode:
    # Get relevant printer params
    {% set travel_speed = (printer.toolhead.max_velocity) * 60 | float %}
    {% set cross_section = printer.configfile.settings.extruder.max_extrude_cross_section | float %}
    
    # Use firmware retraction if it is defined
    {% if printer.firmware_retraction is defined %}
        {% set RETRACT = G10 | string %}
        {% set UNRETRACT = G11 | string %}
    {% else %}
        {% set RETRACT = 'G1 E-.5 F2100' | string %}
        {% set UNRETRACT = 'G1 E.5 F2100' | string %}
    {% endif %}

    # Calculate purge speed
    {% set purge_move_speed = (flow_rate / 5.0) * 60 | float %}

    G92 E0                                                                              # Reset extruder
    # G0 F{travel_speed}                                                                  # Set travel speed
    G90                                                                                 # Absolute positioning
    G0 Z10 F3000                                                                        # Move to Z10
    G0 X{purge_x_origin} F{travel_speed}                                                # Move to purge X position
    G0 Y{purge_y_origin} F{travel_speed}                                                # Move to purge Y position
    G0 Z{purge_height} F3000                                                            # Move to purge Z height
    M83                                                                                 # Relative extrusion mode
    G1 E{tip_distance} F{purge_move_speed}                                              # Move filament tip
    G1 X{purge_x_origin + purge_amount} E{purge_amount} F{purge_move_speed}             # Purge line
    {RETRACT}                                                                           # Retract
    G0 X{purge_x_origin + purge_amount + 10} F{travel_speed}                            # Rapid move to break string
    G92 E0                                                                              # Reset extruder distance
    M82                                                                                 # Absolute extrusion mode
    G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop
