[filament_switch_sensor switch_sensor]
switch_pin: ^PA0
pause_on_runout: True
runout_gcode:
   PAUSE
   M117 Filament switch runout
insert_gcode:
   M117 Filament switch inserted

# [filament_motion_sensor encoder_sensor]
# switch_pin: ^PC2
# detection_length: 8 # accuracy of motion sensor 2.88mm
# extruder: extruder
# pause_on_runout: True
# runout_gcode:
#    PAUSE
#    M117 Filament encoder runout
# insert_gcode:
#    M117 Filament encoder inserted