[mcu H36_combo]
#serial: /dev/serial/by-path/*
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3F0045000950415742363820-if00
#canbus_uuid=e185794c4226

# CAN_RX: PD0
# CAN_TX: PD1
# CAN USB switch: PA2
# logic Low = COM to A PORT  CANBUS 
# Logic High = COM to B PORT  USB

#####################################################################
# Input Shaper
#####################################################################

# [adxl345]
# cs_pin: H36_combo:PB12
# spi_software_sclk_pin: H36_combo:PB10
# spi_software_mosi_pin: H36_combo:PB11
# spi_software_miso_pin: H36_combo:PB2
# axes_map: -y,z,-x

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     300,300,30 # an example

#####################################################################
# FANS
#####################################################################

## Hotend fans
[heater_fan hotend_fan] #[fan_generic fan0]
pin: H36_combo:PA9
heater: extruder
heater_temp: 50.0
tachometer_pin: H36_combo:PC6
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

# [fan_generic fan1]
# pin: H36_combo:PB15
# max_power:1.0

## Part cooling fans
[multi_pin part_cooling]
pins: H36_combo:PA5, H36_combo:PB13   # no trailing commas, correct pin names

[fan]
pin: multi_pin:part_cooling

[fan_generic toolhead_board_fan]
pin: H36_combo:PB15

#####################################################################
#	MCU & Driver Temperature
#####################################################################

[temperature_sensor h36]  # [temperature_sensor can_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: H36_combo
min_temp: 0
max_temp: 150

[temperature_sensor Driver_Temp]
sensor_type: Generic 3950
sensor_pin: H36_combo: PA3
min_temp:0
max_temp:150

#####################################################################
#	Voltage Monitor
#####################################################################

[adc_temperature 5V_Monitor]
temperature1: 5
voltage1: 3.0
temperature2: 4
voltage2: 2.4
temperature3: 3
voltage3: 1.8

[adc_temperature 24V_Monitor]
temperature1: 24
voltage1: 3.13
temperature2: 22
voltage2: 2.87
temperature3: 21
voltage3: 2.74

[temperature_sensor 5V_Monitor]
sensor_type: 5V_Monitor
sensor_pin: H36_combo:PA0   #5V_MON
adc_voltage: 3.3
voltage_offset: 0

[temperature_sensor 24V_Monitor]
sensor_type: 24V_Monitor
sensor_pin: H36_combo:PA4   #24V_MON
adc_voltage: 3.3
voltage_offset: 0


#####################################################################
#	I/O
#####################################################################

# IO.0: PA15
# IO.1: PC7 
# IO.2: PA8
# IO.3/RGB0: PA10
# IO.4/RGB1: PB1

#####################################################################
#	RGB
#####################################################################

# [neopixel A4T_LEDs]
# pin: H36_combo:PA10 #IO.3/RGB0
# chain_count: 10
# color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW, GRBW
# initial_RED: 0.5 
# initial_GREEN: 0.5
# initial_BLUE: 0.5
# initial_WHITE: 0.5

[neopixel nozzle_led]
pin: H36_combo:PA10 #IO.3/RGB0
chain_count: 2
color_order: GRB
initial_RED: 0 
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

# [neopixel ext_leds]
# pin: H36_combo:PB1 #IO.4/RGB1
# chain_count: 1
# color_order: GRB
# initial_RED: 0.5
# initial_GREEN: 0.5
# initial_BLUE: 0.5
# initial_WHITE: 0.5