#####################################################################
##  Input Shaper
#####################################################################

# [mcu NIS]
# serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0B0003800843565036343620-if00
# is_non_critical: True

# [adxl345]
# cs_pin: NIS:PA4
# spi_software_sclk_pin: NIS:PA5
# spi_software_mosi_pin: NIS:PA7
# spi_software_miso_pin: NIS:PA6

# [resonance_tester]
# accel_chip: adxl345
# probe_points: 117.5, 117.5, 20

[resonance_tester]
accel_chip: beacon
probe_points: 117.5, 117.5, 20

[input_shaper]
shaper_freq_x: 80 #18740
shaper_type_x: mzv
shaper_freq_y: 59 #9230
shaper_type_y: mzv